<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">M2H Bot</h4>
                    <p class="chatbox__description--header">Hi, I am a Chatbot from M2H. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <!-- <p >Hi, Ask me anything</p> -->
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Ask me anything..." id="text-input">
                <button type="button" id="recordAudio" class="chatbox__send--footer speaker__button"><img src="{{ url_for('static', filename='images/microphone-icon.png') }}"/></button> &nbsp; <span id="action"></span>
                <!-- <button type="button" onclick="runSpeechRecognition()" class="chatbox__send--footer speaker__button"><img src="{{ url_for('static', filename='images/microphone-icon.png') }}"/></button>&nbsp; <span id="action"></span> -->
                <button  class="chatbox__send--footer send__button"><img src="{{ url_for('static', filename='images/send-icon.png') }}"/></button>
            </div>
            <div class="texts">
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}"/></button>
        </div>
    </div>
</div>

    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <script>

       

            
    </script>
    <!-- <script src="microsoft.cognitiveservices.speech.sdk.bundle-min.js"></script> -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='mic.js') }}"></script> -->

</body>
</html>
